{% extends "base.html" %}

{% block content%}
    <form action=""method="post" novalidate>
        {{ form.hidden_tag() }}
        <div class="mb-3">
            {{ form.username.lable(class="form-label") }}
            {{ form.username(class="form-control") }}
        </div>
        <div class="mb-3">
            {{ form.password.lable(class="form-label") }}
            {{ form.password(class="form-control") }}
        </div>
        <div class="mb-3">
            {{ form.remember_me.lable(class="form-check-input") }} {{ form.remember_me.lable(class="form-check-label") }}
        </div>
        <div class="mb-3">
            {{ form.submit(class="btn btn-primary")}}
        </div>
    </form>
{% endblock %}